body{
    margin:0;
    padding: 0;
    display:flex ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: fantasy;
    font-style: oblique ;
    background-image: url(https://images.unsplash.com/photo-1604346782646-13dac014c258?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1316&q=80);
    background-repeat: no-repeat;
    background-size: 1500px 800px;
}
a{
    position: relative;
    display: inline-block;
    padding:15px 30px;
    color:rgb(50, 205, 89);
    text-decoration: teal;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 24px;
    transition:0.2s ;
}
a:hover
{
    color: rgb(137, 130, 238);
    box-shadow:0 0 10px tomato;
    border: white;
    transition-delay: 1s;
    transform-style:flat;
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1)
{
    top: 0;
    left:-100%;
    width: 100%;
    height:2px;
    background:linear-gradient(90deg,transparent,#219621);

}
a:hover span:nth-child(1)
{
    left:100%;
    transition:1s;

}
a span:nth-child(3)
{
    bottom: 0;
    right:-100%;
    width: 100%;
    height:2px;
    background:linear-gradient(270deg,transparent,#219621);

}
a:hover span:nth-child(3)
{
    right:100%;
    transition:1s;
    transition-delay:0.5s ;
}
a span:nth-child(2)
{
    top: -100%;
    right:0;
    width: 2px;
    height:100%;
    background:linear-gradient(180deg,transparent,#219621);

}
a:hover span:nth-child(2)
{
    top:100%;
    transition:1s;
    transition-delay: 0.25s;

}
span:nth-child(4)
{
    bottom: -100%;
    left:0;
    width: 2px;
    height:100%;
    background:linear-gradient(360deg,transparent,#219621);
}
a:hover span:nth-child(4)
{
    bottom:100%;
    transition:1s;
    transition-delay: 0.75s;
}




